<div class="card p-3 border-0">
  
    <!-- Product 1 -->
    <div class="d-flex align-items-center  p-2 rounded mb-2">
      <img src="assets/images/img6.jpeg" alt="Brufen" class="img-fluid rounded me-2" style="width: 60px; height: auto;">
      <div class="flex-grow-1">
        <p class="mb-1 small  green">Ibuprofen is used to relieve mild to moderate pain (headache, toothache...)</p>
        <p class="mb-1 text fw-bold">EGP 60.35</p>
        <p class="small fw-medium">Only 3 left in stock - order...</p>
        <button class="btn rounded-5 btn-sm">Add to cart</button>
      </div>
    </div>
 
  
  </div>
  