.green {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #067D62;
}
button {
    background: rgba(255, 216, 20, 1);

}
.text{
font-family: Inter;
font-weight: 500;
font-size: 15px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(179, 45, 11, 1);

}