.signup-container {
  display: flex;
  max-width: 800px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.left-section {
  flex: 1;
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  //padding: 20px;
  position: relative;
}

.blur {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
}

.img-content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  color: white;
  font-family: 'Inter';
  font-weight: 500;
  text-align: center;

}

button {
  background: linear-gradient(9.01deg, #0150B7 -12.42%, #B2BBC7 162.96%);
  color: white;
  font-family: 'Inter';
  cursor: pointer;
  border: 0;
  &:hover{
    background: linear-gradient(162.96deg, #0150B7 -12.42%, #B2BBC7  150.1%);

  }
}
.left-section img {
  max-width: 100%;
  height: auto;
  border-radius: 10px 0 0 10px;
}

.right-section {
  flex: 1;
  padding: 40px;
  text-align: center;
  background: #fff;
}

.social-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.social-buttons button {
  flex: 1;
  margin: 5px;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  color: white;
}

.social-buttons button:nth-child(1) { background: #db4437; } /* Google */
.social-buttons button:nth-child(2) { background: #000; } /* X (Twitter) */
.social-buttons button:nth-child(3) { background: #333; } /* GitHub */
.social-buttons button:nth-child(4) { background: #1877f2; } /* Facebook */

form {
  display: flex;
  flex-direction: column;
}

form input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}


form button:hover {
  background: #0056b3;
}

p {
  margin-top: 15px;
  font-size: 14px;
}

p a {
  color: #007bff;;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

a{
 cursor: pointer;
}


// .input-container {
//   display: flex;
//   align-items: center;
//   margin: 10px 0;
//   padding-left: 10px;
//   border: 1px solid #ccc;
//   border-radius: 5px;
//   font-size: 16px;
//   background: white;
// }

.input-container i {
  margin-right: 10px;
  color: gray;
}

.input-container input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
}


@media (max-width: 600px) {
  .left-section {
    display: none;
  }

  .signin-container {
    flex-direction: column;
    box-shadow: none;
  }

  .right-section {
    width: 100%;
    padding: 20px;
  }
}


.parent{
  position: relative;
}

.con{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}