 <!-- Our Services -->
 <section class="container text-center my-5">
  <h2>Our Services</h2>
  <div class="row">
      <div class="col-md-4">
          <div class="service-card">
              <h4>Search By Medicine Name</h4>
          </div>
      </div>
      <div class="col-md-4">
          <div class="service-card">
              <h4>Quick Prescription Scanning</h4>
          </div>
      </div>
      <div class="col-md-4">
          <div class="service-card">
              <h4>Medicine Recommendation Chat</h4>
          </div>
      </div>
  </div>
</section>
