 <!-- Hero Section -->
 <section class="hero-section ">
  <div class="container-fluid">
      <div class="row ">
          <div class="col-md-6 ps-3">
              <h1 class="hero-title mx-lg-5 px-5"><strong>Get the <span class="text-primary">medicine</span> you need in no time!</strong></h1>
              <p class="para-style px-4">It helps you find medications by locating nearby pharmacies that have the medicine you need.</p>
              <a href="#" class="btn btn-primary rounded-5 py-md-3 px-md-4 mb-2 mx-5">Get Start</a>
          </div>
          <div class="col-md-6">
              <img style="border-radius: 20px;" src="assets/images/hero-image.jpeg" class="img-fluid" alt="Pharmacist">
          </div>
      </div>
  </div>
</section>

<!-- Categories Section -->
<div class="container-fluid" style="background-color: #F5F0EE; padding: 50px 0;">
  <section class="mx-5  my-4" >
    <h2 class="color-hedings mb-4">Categories</h2>
    <div class="row d-flex justify-content-between category-icons flex-wrap">
        <div class="col-4 col-md-2 mb-2"><img src="assets/images/d205cd3e3164b8fad6636b79fd2e3e8e.png" alt="Drugs"></div>
        <div class="col-4 col-md-2 mb-2"><img src="assets/images/be0033d7f0714fd42134988b00eee18c.png" alt="Medical Supplies"></div>
        <div class="col-4 col-md-2 mb-2"><img src="assets/images/3a17d146b30dd27b909820717bf6c6ba.png" alt="Nutrition"></div>
        <div class="col-4 col-md-2 mb-2"><img src="assets/images/d9f559793d8957f605a68853201606a2.png" alt="Herbal"></div>
        <div class="col-4 col-md-2 mb-2"><img src="assets/images/73daf744d18f9948dcf5d4a9bc3d5c69.png" alt="Home Care"></div>
    </div>
  </section>
</div>

<!-- About Us -->
<section class="mx-3 p-5 bg-white ">
  <h2 class="color-hedings d-inline  ">About Us</h2>
  <div class="row align-items-center ">
      <div class="col-md-6 mt-5">
          <p class="para-style2">Welcome to our platform, your trusted source for finding medicines at the nearest pharmacy. Our goal is to make accessing medications and medical supplies easier through innovative features like drug search and symptom-based recommendations, all with a simple and user-friendly interface.
          </p><p class="para-style2">
            We strive to provide accurate information to meet your health needs efficiently.</p>
      </div>
      <div class="col-md-6">
          <img src="assets/images/01c1cc4e05239ebc2d5981b0dba41fdf.png" class="img-fluid" style="border-radius: 20px;" alt="Pharmacy">
      </div>
  </div>
</section>

<!-- Our Services -->
<section class="mx-3 bg-white  my-5">
  <h2 class="color-hedings  p-4">Our Services</h2>
  <div class="row px-5 pb-5 justify-content-center">
      <div class="col-xl-4 col-md-6">
          <div class="service-card">
            <div class="p-3">
              <img src="assets/images/b8c61077dde538c28594536abf7043e7.png" alt="" style="width: 50px;">
            </div>
              <h4 class="color-serv-sec" style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 30px;">Search By Medicine Name</h4>
              <p class="color-serv-sec">The drug search service allows users to find the required drug easily and quickly. Once you type the name of the medicine in the search box, the system displays a list of the nearest pharmacies that provide this medicine</p>
          </div>
      </div>
      <div class="col-xl-4 col-md-6">
          <div class="service-card">
            <div class="p-3">
              <img src="assets/images/7ed5e05ba94669750d0121d783608ff7.png" alt="" style="width: 50px;">
            </div>
              <h4 class="color-serv-sec" style="font-family: Georgia, 'Times New Roman', Times, serif;font-size: 30px;">Quick Prescription Scanning</h4>
              <p class="color-serv-sec">Simplify your medication search with our quick prescription scanning feature. Just upload or scan your prescription, and the system will instantly identify the required medicines and direct you to the nearest pharmacy where they are available</p>
          </div>
      </div>
      <div class="col-xl-4 col-md-6">
          <div class="service-card">
            <div class="p-3">
              <img src="assets/images/fb999226995e85e2230a890fbfc5fbde.png" alt="" style="width: 50px;">
            </div>
              <h4 class="color-serv-sec" style="font-family: Georgia, 'Times New Roman', Times, serif;font-size: 30px;">Medicine Recommendation Chat</h4>
              <p class="color-serv-sec">This service provides users with the ability to describe the symptoms they are experiencing via a dedicated chat. The system analyzes the entered symptoms and makes recommendations</p>
          </div>
      </div>
  </div>
</section>

<!-- Top Search Medications -->
<section class="  my-5">
  <h2 class="color-hedings ps-5">Top Search Medications</h2>
  <div class="row justify-content-center align-items-center container gap-5 mx-auto ">
    <div class="col-xl-2 col-md-4 bg-white border border-1 text-center d-flex align-items-center justify-content-center flex-column border-black p-3">
      <div class="bg-white rounded-circle text-center py-2">
          <div class="round overflow-hidden">
          <img src="assets/images/d15d6b380ee108fb61242f02418115f9.png" alt="Med 1"  >
        </div>
        </div>
        <h4>Pandol Joint</h4>
        <p>Analegic for Joint Pain</p>
      </div>
      <div class="col-xl-2 col-md-4 bg-white border border-1 text-center d-flex align-items-center justify-content-center flex-column border-black p-3">
        <div class="bg-white rounded-circle text-center py-2">
          <div class="round overflow-hidden">
          <img src="assets/images/f125ef9e5c913c92132edd4aa8e3875d.jpeg" alt="Med 2"style="height: 80px;" >
          </div>
        </div>
        <h4>Pandol Joint</h4>
        <p>Analegic for Joint Pain</p>
      </div>
      <div class="col-xl-2 col-md-4 bg-white border border-1 text-center d-flex align-items-center justify-content-center flex-column border-black p-3">
        <div class="bg-white rounded-circle text-center py-2">
          <div class="round overflow-hidden">
          <img src="assets/images/d97659eb371495c0c491f9fa51ae2a48.jpeg" alt="Med 3"style="height: 80px;" >
          </div>
        </div>
        <h4>Pandol Joint</h4>
        <p>Analegic for Joint Pain</p>
      </div>
      <div class="col-xl-2 col-md-4 bg-white border border-1 text-center d-flex align-items-center justify-content-center flex-column border-black p-3">
        <div class="bg-white rounded-circle text-center py-2">
          <div class="round overflow-hidden">
          <img src="assets/images/7e38360aa162faa975af49c17d465050.jpeg" alt="Med 4" style="height: 80px;">
          </div>
        </div>
        <h4>Pandol Joint</h4>
        <p>Analegic for Joint Pain</p>
      </div>
      <div class="col-xl-2 col-md-4 bg-white border border-1 text-center d-flex align-items-center justify-content-center flex-column border-black p-3">
        <div class="bg-white rounded-circle text-center py-2">
          <div class="round overflow-hidden">
          <img src="assets/images/aa74ea5e34ecf86bab83b20b2442c1c3.png" alt="Med 5" >
          </div>
        </div>
        <h4>Pandol Joint</h4>
        <p>Analegic for Joint Pain</p>
      </div>
  </div>
</section>