<div class="bg-transparent">
    <section class="svg-sec shadow-xl ">
        <svg viewBox="0 0 1414 2093" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_f_0_1)">
                <path d="M891.065 374.245C1052.2 294.517 1363.1 108.698 1317.56 3.24512" stroke="white"
                    stroke-width="1.65401" />
            </g>
            <foreignObject x="1071.9" y="333.205" width="407.321">
                <div xmlns="http://www.w3.org/1999/xhtml" style="backdrop-filter:blur(0.83px);height:100%;width:100%">
                </div>
            </foreignObject>
            <path data-figma-bg-blur-radius="1.65401" d="M1074.07 494.38C1313.49 308.925 1442.47 323.58 1477.02 354.089"
                stroke="white" stroke-width="1.65401" />
            <foreignObject x="-1.58907" y="338.217" width="232.766">
                <div xmlns="http://www.w3.org/1999/xhtml" style="backdrop-filter:blur(0.83px);height:100%;width:100%">
                </div>
            </foreignObject>
            <line data-figma-bg-blur-radius="1.65401" y1="-0.827004" x2="275" y2="-0.826904"
                transform="matrix(0.831046 0.556204 -0.556215 0.831039 0.0649414 341.245)" stroke="white"
                stroke-width="1.65401" />
            <foreignObject x="640.068" y="371.338" width="254.494">
                <div xmlns="http://www.w3.org/1999/xhtml" style="backdrop-filter:blur(0.83px);height:100%;width:100%">
                </div>
            </foreignObject>
            <path data-figma-bg-blur-radius="1.65401" d="M892.565 373.745L642.065 487.745" stroke="white"
                stroke-width="1.65401" />
            <foreignObject x="563.948" y="-1.14532" width="378.338" height="126.566">
                <div xmlns="http://www.w3.org/1999/xhtml" style="backdrop-filter:blur(0.76px);height:100%;width:100%">
                </div>
            </foreignObject>
            <path data-figma-bg-blur-radius="1.52471"
                d="M566.065 0.859746C745.006 221.432 889.976 93.977 940.093 2.67785" stroke="white"
                stroke-width="1.52471" />
            <rect x="0.0649414" y="493.245" width="1470" height="28" fill="url(#paint0_linear_0_1)"
                fill-opacity="0.2" />
            <rect x="1.06494" y="2056.25" width="1412" height="36" fill="url(#paint1_linear_0_1)" fill-opacity="0.2" />

        </svg>
        <app-search-input class="position-absolute top-50 search"></app-search-input>

    </section>
    <div class="container  ">
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 g-5 my-5 border border-2 ">
            
                @for (item of [1,2,3,4,5,6,7,8,9,10]; track $index) {
                <app-caregorycart></app-caregorycart>
            }
            
        </div>
        </div>
    </div>