<div class="cart-item">
    <img src="assets/images/ing3.jpeg" alt="Whey Protein" class="product-image" />
    
    <div class="product-details">
      <h3>Whey Protein</h3>
      <p>The highest quality protein concentrate...</p>
      <p class="out-of-stock">Only 3 left in stock - order soon.</p>
      <p>Eligible for FREE delivery</p>

      <div class="actions d-flex align-items-center gap-2">
        <div class="gty px-2">
            <label>Qty:</label>
            <select class="border-0">
              <option value="1" >1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5 </option>
              <option value="6">6 </option>
              <option value="7">7 </option>
              <option value="8">8 </option>
              <option value="9">9 </option>
              <option value="10">10 </option>
            </select>
        </div>
        <a href="#"> Delete  </a> | <a href="#">  Save for later </a> | <a href="#">  Share</a>
      </div>
    </div>
  </div>
