<div class="card product-card bg-white">
    <div class="image-container">
        <img src="assets/images/img7.jpeg" class="card-img-top" alt="Product 1">

    </div> 

    <div class="card-body text-center position-relative">
        <i class="fa-regular fa-heart fa-2x ms-auto  position-absolute  "></i>

        <h5 class="card-title">Sheglam Complexion Pro</h5>
        <p class="card-text mt-3">Long Lasting Breathable Matte Fod</p>
        <button class="btn btn-primary mt-3 px-5">Add To Cart</button>
    </div>
</div>