.product-card {
    background-color: #f6f0eb;
    border: none;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);

    .image-container {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        overflow: hidden;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #ddd;
    }

    img {
        width: 100%;
        height: auto;
    }

    .card-body {
        padding-top: 10px;

        h5 {
            font-family: 'Poor Richard';
            font-size: 2em;
            line-height: 100%;

        }
    }

    .btn-primary {
        background-color: #5a82a8;
        border: none;
        border-radius: 20px;
        padding: 10px 20px;
        font-weight: 500;

        &:hover {
            background-color: #46658a;
        }
    }
}
.fa-heart{
    top: -30%;
    right: 10%;
}