<div class="con">
  <div class="parent">
    <div class="signin-container">
      <div class="left-section">
        <h2>Sign In to your account</h2>
        <div class="social-buttons">
          <button><i class="fab fa-google"></i></button>
          <button><i class="fab fa-x-twitter"></i></button>
          <button><i class="fab fa-github"></i></button>
          <button><i class="fab fa-facebook"></i> </button>
        </div>
        <p>or register with your email id</p>
        <form>
          <div class="input-container">
            <i class="fas fa-envelope"></i>
            <input type="email" placeholder="Email" required />
          </div>
          <div class="input-container">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password" required />
          </div>
          <button class="py-2 my-4">Sign In</button>
        </form>
          <!-- Add Forget Password -->
      <p> <a  style="color: gray;" routerLink="/auth/forget-password">Forgot Password?</a></p>
      </div>
    
      <div class="right-section">
        <div class="blur"></div>
        <div class="img-content d-flex justify-content-center align-items-center flex-column px-5">
          <h2>Welcome Back !</h2>
          <p class="px-4">Please sign in into your account with the given details to continue</p>
          <p>Already have an account ! Sign Up</p>
          <button routerLink="/signup" class="text-decoration-none btn  mt-5 px-4">Sign up</button>
        </div>
        <img style="height: 100%;" src="assets/images/login.jpeg" alt="Signin Image"  class="object-fit-cover"/>
      </div>
    </div>
    </div>
</div>