<div class="con">
  <div class="parent">
    <div class="signin-container">
      <div class="left-section">
        <h2>Sign In to your account</h2>
        <div class="social-buttons">
          <button><i class="fab fa-google"></i></button>
          <button><i class="fab fa-x-twitter"></i></button>
          <button><i class="fab fa-github"></i></button>
          <button><i class="fab fa-facebook"></i> </button>
        </div>
        <p>or register with your email id</p>
        <form>
          <div class="input-container">
            <i class="fas fa-envelope"></i>
            <input type="email" placeholder="Email" required />
          </div>
          <div class="input-container">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password" required />
          </div>
          <button>Sign In</button>
        </form>
        <p>Don't have an account? <a routerLink="/signup">Sign up</a></p>
          <!-- Add Forget Password -->
      <p> <a  style="color: gray;" routerLink="/auth/forget-password">Forgot Password?</a></p>
      </div>
    
      <div class="right-section">
        <img style="height: 100%;" src="assets/images/login-signup.jpeg" alt="Signin Image" />
      </div>
    </div>
    </div>
</div>