<nav class="navbar navbar-expand-lg" style="background-color: #fff;">
  <div class="container">
    <a class="navbar-brand mb-0 h1 color">Symptopro</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="px-2 nav-link" routerLink="home">Home</a>
        <a class="px-2 nav-link" routerLink="home" fragment="about">About</a>
        <a class="px-2 nav-link" routerLink="home" fragment="contactus">Contact Us</a>
      </div>
      <!-- <div class="navbar-nav ms-auto  align-items-center d-flex flex-row">
        <a  href=""><i class="fa-regular rounded p-2 me-2 fa-user text-white fw-bold fs-5 bg-color"></i></a>
        <a class="btn btn-outline-light bg-color" (click)="logout()">Logout</a>
      </div> -->
      <div class="navbar-nav ms-auto align-items-center d-flex flex-row">
        <a class="btn btn-outline-light bg-color">Logout</a>
      </div>
    </div>
    <!-- User Profile Image -->
    <div class="position-relative" >
      <!-- <img [src]="profileImage && profileImage !== '' ? profileImage : './../../../assets/images/man.jpg'" class="user-profile-image rounded-circle border border-dark" -->
        >
    </div>
  </div>
</nav>