/* Group 1 */
.input-group{
 background: rgba(226, 218, 214, 1);
 width: 100%;
  max-width: 900px;
  padding: 5px 20px;
  border: 1px solid rgba(102, 99, 99, 1);
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}
input::placeholder{
font-family: 'Lexend Deca';
font-size: 20px;
}
.form-control{
    background: transparent;
    border-radius: 10px;
}
