<div class=" ">
    <div class="d-flex gap-2 align-items-center  ms-md-5 ms-2">
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <rect width="40" height="40" fill="url(#pattern0_2_335)" />
            <defs>
                <pattern id="pattern0_2_335" patternContentUnits="objectBoundingBox" width="1" height="1">
                    <use xlink:href="#image0_2_335" transform="scale(0.01)" />
                </pattern>
                <image id="image0_2_335" width="100" height="100" preserveAspectRatio="none"
                    xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAAACXBIWXMAAAsTAAALEwEAmpwYAAABMklEQVR4nO3cMU7DQBRF0Sf2wCrSZgNQJk22ACthE7RmlQhEYwpIH6Wwnz3nSL8f6epLHsmaBAAAAAAAAADYsmOSh7UPwZ9zku8kH6L0xJj/R5SiGLMofTFmUfpizKIs55Lk54YY13lf8GzDOd+4Gdf5TPK89qH3SowiYhQRo4gYRcQoIkYRMYqIUUSMImIUEWPjMZ7WPvReiVFEjCJiFBGjiBgbjvGV5CXJYYB5bI8x2ryJkTGD2Iz0BBEjXRsiSLqCiJK+IKKkL4go6Qty78XwteDSdtjjxfDeKP7LXYAohUQpJEohUQqJUkiUQqIUEqWQKIVObvR9RCkkSiFRColSSJRCohQ6+STuc/E803Y3ZfIoZk+USYyeKJMYPVEmMXqiTGL0OIoBAAAAAAAAABnaL/cqhwokJY+7AAAAAElFTkSuQmCC" />
            </defs>
        </svg>
        <p class="pargraph">Search</p>
    </div>
    <app-search-input />
    <div class="px-md-5 px-2 mb-5">
        <p class="pargraph mb-5">*Most searched</p>
        <section class="frame-product p-5">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4 justify-content-around">
                <div class="col p-md-5 ">
                    <div class="card border-0 bg-transparent">
                        <img src="assets/images/img1.jpeg" class="card-img-top" alt="...">
                        <div class="card-body fw-bold px-4">
                            <h5 class="card-title fw-bold">Vitamin C <br>Potency+</h5>
                            <p class="text-muted mb-1 ">mindbodygreen</p>
                            <p class="text-muted mb-1">+1,000 mg vitamin C</p>
                            <p class="text-muted">+broad-spectrum bioflavonoid</p>
                        </div>
                    </div>
                </div>
                <div class="col p-md-5 ">
                    <div class="card border-0 bg-transparent h-100">
                        <img src="assets/images/img2.jpeg" class="card-img-top" alt="...">
                        <div class="card-body fw-bold px-4">
                            <h5 class="card-title fw-bold">Panadol Migraine </h5>
                            <p class="text-muted mb-1 ">Acetaminophen250mg Aspirin250mg</p>
                            <p class="text-muted mb-1">and coffeine 65mg</p>
                            <p class="text-muted">30 Film Coated Tablets</p>
                        </div>
                    </div>
                </div>
                <div class="col p-md-5 ">
                    <div class="card border-0 bg-transparent h-100">
                        <img src="assets/images/img3.1.jpeg" class="card-img-top" alt="...">
                        <div class="card-body fw-bold px-4">
                            <h5 class="card-title fw-bold">Vanilla Scented Skin Care Set
                                 </h5>
                            <p class="text-muted mb-1 "> Long Lasting Moisturizing</p>
                            <p class="text-muted mb-1">With An Attractive Scent</p>
                        </div>
                    </div>
                </div>
                <div class="col p-md-5 ">
                    <div class="card border-0 bg-transparent h-100">
                        <img src="assets/images/ing3.jpeg" class="card-img-top" alt="...">
                        <div class="card-body fw-bold px-4">
                            <h5 class="card-title fw-bold">HELIXIR LAB </h5>
                            <p class="text-muted mb-1 ">organic skincare vitamin C</p>
                            <p class="text-muted mb-1">30 ml | 1floz</p>
                        </div>
                    </div>
                </div>
                <div class="col p-md-5 ">
                    <div class="card border-0 bg-transparent h-100">
                        <img src="assets/images/img4.jpeg" class="card-img-top" alt="...">
                        <div class="card-body fw-bold px-4">
                            <h5 class="card-title fw-bold">BLOM BALM</h5>
                            <p class="text-muted mb-1 ">gan balm & wild violet</p>
                        </div>
                    </div>
                </div>
                <div class="col p-md-5 ">
                    <div class="card border-0 bg-transparent h-100">
                        <img src="assets/images/img5.jpeg" class="card-img-top" alt="...">
                        <div class="card-body fw-bold px-4">
                            <h5 class="card-title fw-bold">CUCINA</h5>
                            <p class="text-muted mb-1 ">Olive oil for hair is rich </p>
                            <p class="text-muted mb-1">in all the important elements</p>
                            <p class="text-muted mb-1">to strengthen hair from roots to ends.</p>
                        </div>
                    </div>
                </div>
                <div class="col p-md-5 ">
                    <div class="card border-0 bg-transparent h-100">
                        <img src="assets/images/img6.jpeg" class="card-img-top" alt="...">
                        <div class="card-body fw-bold px-4">
                            <h5 class="card-title fw-bold">CeraVe  </h5>
                            <p class="text-muted mb-1 "> Hydrating Cream-to-Foam </p>
                            <p class="text-muted mb-1">Cleanser CeraVe Hydrating</p>
                            <p class="text-muted mb-1">Cream-to-Foam Cleanser,</p>
                            <p class="text-muted mb-1">developed with dermatologists</p>
                        </div>
                    </div>
                </div>
                <div class="col p-md-5 ">
                    <div class="card border-0 bg-transparent h-100">
                        <img src="assets/images/img7.jpeg" class="card-img-top" alt="...">
                        <div class="card-body fw-bold px-4">
                            <h5 class="card-title fw-bold">FRUTTO DELLA PASSIONE</h5>
                            <p class="text-muted mb-1 ">Lerbolario Bagnoschiuma </p>
                            <p class="text-muted mb-1">con estratti di fiori</p>
                            <p class="text-muted mb-1">di passiffora</p>
                        </div>
                    </div>
                </div>
                <div class="col p-md-5 ">
                    <div class="card border-0 bg-transparent h-100">
                        <img src="assets/images/img8.jpeg" class="card-img-top" alt="...">
                        <div class="card-body fw-bold px-4">
                            <h5 class="card-title fw-bold">HUM</h5>
                            <p class="text-muted mb-1 ">Glow Sweet Glow - Vegan Collagen</p>
                            <p class="text-muted mb-1">Boosting Gummies with Antioxidant</p>
                            <p class="text-muted mb-1">Rich Vitamin C & E - Hydrating Skin</p>
                            <p class="text-muted mb-1">Supplements - 42 Gummies</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>