<section class="container text-center my-4">
  <h2>Categories</h2>
  <div class="row category-icons">
      <div class="col-4 col-md-2"><img src="drugs.png" alt="Drugs"></div>
      <div class="col-4 col-md-2"><img src="supplies.png" alt="Medical Supplies"></div>
      <div class="col-4 col-md-2"><img src="nutrition.png" alt="Nutrition"></div>
      <div class="col-4 col-md-2"><img src="herbal.png" alt="Herbal"></div>
      <div class="col-4 col-md-2"><img src="homecare.png" alt="Home Care"></div>
  </div>
</section>