.cart-summary {
    text-align: right;
    padding-top: 20px;

    h3 {
        font-size: 18px;
    }

    .checkout-btn {
        background: rgba(255, 216, 20, 1);
        border: none;
        padding: 10px 15px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
    }
}

button {
    background: rgba(255, 216, 20, 1);

}

.green {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #067D62;
}

.Similar {
    font-family: Poppins;
    font-weight: 500;
    font-size: 21px;
    line-height: 100%;

}