<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container">
      <!-- Logo -->
      <a class="navbar-brand d-flex align-items-center">
          <img src="assets/images/RxClose-Logo.PNG" alt="Logo"> 
      </a>

      <!-- Toggle Button for Mobile -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar Links -->
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav align-items-center">
              <li class="nav-item">
                  <a class="nav-link fw-bold" >Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link fw-bold"  routerLink="search"><i class="bi bi-search"></i> Search</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link fw-bold" >Category</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link fw-bold" routerLink="Contactus">Contact Us</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link fw-bold" >Cart</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link fw-bold" routerLink="/signin" style="cursor: pointer;"><i class="bi bi-person"></i> Login</a>
              </li>
          </ul>
      </div>
  </div>
</nav>